.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* From react-bootstrap docs */
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

h2{
    color: white;
}
html{
    height:100%;
    margin: 0;
    padding: 0;
}
body{
    color:black;
    height:100%;
    width:100%;
    overflow-x:hidden;
    background-size: 100% 100%;
    background-image: url('daredevil.jpg');
}

/*Table pagination css fixes*/
.react-bs-table-pagination .col-xs-6{
    width:100%;
}

.react-bs-table{
    margin: 0px;
}
.react-bs-table-pagination .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float: none;
    text-align:center;
}

/*Footer and page sizing fixes*/
.navbar{
    min-height:0;
}

#marvelResultsTable{
    background-color:white;
}

.navbar-bottom{
    position:absolute;
    bottom:0px;
    text-align:right;
    margin-right:5%;
    color:white;
}
#pageContent{
    height:90%;
    padding-bottom: 30px;
}
#root{
    min-height:100%;
    position:relative;
    width:90%;
    margin-left:5%; 
    text-align:left;
}
